<a href="https://colab.research.google.com/github/DazaiOsamu666/Data_Analysis/blob/main/FCC_demographic_DA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.read_csv('adult.data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
df.set_index('race')

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
race,,,,,,,,,,,,,,
White,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,Male,2174,0,40,United-States,<=50K
White,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Male,0,0,13,United-States,<=50K
White,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,Male,0,0,40,United-States,<=50K
Black,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Male,0,0,40,United-States,<=50K
Black,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
White,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,Female,0,0,38,United-States,<=50K
White,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,Male,0,0,40,United-States,>50K
White,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,Female,0,0,40,United-States,<=50K
White,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,Male,0,0,20,United-States,<=50K
White,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,Female,15024,0,40,United-States,>50K

In [5]:
  # What is the average age of men?
  df['age'].mean()

38.58164675532078

In [6]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [9]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = ((df['education'] == 'Bachelors').sum() / df.shape[0]) * 100
percentage_bachelors

16.44605509658794

In [19]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
values_to_check = ['Bachelors', 'Masters', 'Doctorate']
high_edu_filtered_rows = df[df['education'].isin(values_to_check)]
high_edu_salary_counts = high_edu_filtered_rows['salary'] == '>50K'
print('Percentage :',(high_edu_salary_counts.sum() / df.shape[0]) * 100,'%')

Percentage : 10.706059396210192 %

In [20]:
# What percentage of people without advanced education make more than 50K?
low_edu_filtered_rows = df[~df['education'].isin(values_to_check)]
low_edu_salary_counts = low_edu_filtered_rows['salary'] == '>50K'
print('Percentage :',(low_edu_salary_counts.sum() / df.shape[0]) * 100,'%')

Percentage : 13.374896348392248 %

In [17]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = high_edu_filtered_rows.value_counts().sum()
lower_education = low_edu_filtered_rows.value_counts().sum()

print('People with higher education:',higher_education)
print('People with no higher education:',lower_education)

People with higher education: 7491
People with no higher education: 25070

In [24]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
print('Lowest working hrs :',min_work_hours)

Lowest working hrs : 1

In [27]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
low_work_hrs = df[df['hours-per-week']==min_work_hours]
rich_low_hrs = low_work_hrs['salary'] == '>50K'
num_min_workers = rich_low_hrs.sum()

rich_percentage = (rich_low_hrs.sum()/df.shape[0])*100
print('People with low working hours and high salary:',rich_percentage,'%')

People with low working hours and high salary: 0.006142317496391388 %

In [31]:
# What country has the highest percentage of people that earn >50K?
rich_pop = df[df['salary'] == '>50K']
rich_pop_country = rich_pop['native-country'].value_counts()

highest_earning_country = rich_pop_country.index[0]
highest_earning_country_percentage = rich_pop_country[0]/df.shape[0]*100
print('Country with maximum high earners:',highest_earning_country)
print('percentage of US population with high salary:',highest_earning_country_percentage,'%')

Country with maximum high earners: United-States
percentage of US population with high salary: 22.023279383311323 %

In [46]:
# Identify the most popular occupation for those who earn >50K in India.
india = df[df['native-country'] == 'India']

high_salary_IN = india[india['salary'] == '>50K']
job_ID = high_salary_IN['occupation'].value_counts()
top_IN_occupation = job_ID.index[0]
print('Most popular job in India with high salary:',top_IN_occupation)

Most popular job in India with high salary: Prof-specialty